@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
:root
{
  --colour_back: var(--ctp-mocha-mantle);
  --colour_front: var(--ctp-mocha-surface1);
  --colour_accent: var(--ctp-mocha-peach);
  --colour_text: var(--ctp-mocha-text);
  --colour_para: var(--ctp-mocha-surface2);
}

body 
{
  background-color: var(--colour_back);
  font-family: "Roboto Slab", sans-serif;
  font-size: 24px;
  color: var(--colour_text);
  padding: 12px;
  overflow: visible;
  
  background-image: url("Assets/background.png");
  background-repeat: repeat;
  background-size: 4em;
}

div
{
  float: none;
  text-align: center;
  left: 0;
  right: 0;
  background-color: var(--colour_front);
  border-radius: 16px;
  padding: 12px;
  
}

.main
{
  background-color: transparent;
  width: 99%;
  display: flex;
}

.nav
{
  margin-left:auto;
  margin-right: 24px;
  width: 16%;
  height: 1%;  
  filter: drop-shadow(8px 8px 4px black);
  padding-bottom: 0px;
}

.nav_offset
{
  margin-right:auto;
  margin-left: 24px;
  width: 16%;
  height: 1%;
  background-color: transparent;
}

.content
{
  width: 35%;
  height: 1%;
  line-height: 1.1;
  filter: drop-shadow(8px 8px 4px black);
  padding-bottom: 0px;
  
}

#breadbug
{
  width: 90%;
}

.breadbug2, #title
{
  height: 64px;
}

#breadbug3
{
  width: 80%;
}

.paragraph
{
  background-color: var(--colour_para);
  margin-bottom: 12px;
  padding: 2px;
}

a
{
  color: var(--colour_accent);
}

.link_list, h1, h4, h5, h6
{
  font-family: "Comic Sans MS", sans-serif;
}

.header
{
  display:flex;
}

h1
{
  color: var(--colour_accent);
  font-size: 2em;
  height: 64px;
  width: 60%;
  margin: auto;
}

h2, h3
{
  padding: 0px;
  margin: 6px;
}

h2
{
  font-size: 1em;
}

h3
{
  font-size: 1.2em;
}

.screenshot, .cat, .cat2
{
  border: 6px;
  border-style: solid;
  border-radius: 16px;
  border-color: var(--colour_accent);
  filter: drop-shadow(4px 4px 2px black);
  margin: 4px;
}

.screenshot
{
  width: 80%;
}

.cat
{
  width: 90%;
}

 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: var(--colour_para);
  color: var(--colour_text);
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  border-radius: 16px;
  margin-bottom: 12px;
}

/*https://www.w3schools.com/howto/howto_js_collapsible.asp*/
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: var(--colour_accent);
  color: var(--colour_para);
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content 
{
  padding: 16px;
  display: none;
  overflow: hidden;
  background-color: var(--colour_para);
  text-align: left;
  margin-bottom: 12px;
} 

.collapsible:after {
  content: '∨'; /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '∧'; /* Unicode character for "minus" sign (-) */
}

@media only screen and (max-height: 850px) 
{
  
}

@media only screen and (max-width: 600px) 
{
    .main
  {
    display:block;
    padding: 0px;
    font-size: 18px;
  }

  
  #title
  {
    width: 70%;
    height: auto;
  }
  
  .nav, .content, #cat_gallery
  {
    margin: auto;
    width: 90%;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  
  .nav_offset, .breadbug2
  {
    display: none;
  }
  
  .cat
  {
    width: 80%;
  }
  
  h1
  {
    width: auto;
    height: auto;
  }
}